# encoding: utf-8
[[source]]
name       = "pypi"
url        = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"
os_name        = "posix"
sys_platform   = "darwin"

[packages]
mutagen = "*"

[dev-packages]
pytest     = "*"
setuptools = "*"
wheel      = "*"
twine      = "*"
